In [57]:
import pandas as pd
import json
from api_token import api_token_var
from get_match_info_by_id import get_match_info_by_id
from get_matchs_by_ppuid import get_matchs_by_ppuid
from get_name_and_tag_by_ppuid import get_name_and_tag_by_ppuid
from write_to_json import write_to_json


df = pd.json_normalize(pd.read_json('data/master-leaderboard-data/data_americas.json').iloc[:,0])

In [49]:
df

                  name  rank      lp
0              Kevor24     0  1015.0
1              ENiamor     1  1001.0
2             Linister     2   661.0
3         maybenextime     3   658.0
4     HDR Dudu de Nunu     4   652.0
...                ...   ...     ...
1361           RÎBÕTTÅ  1361     0.0
1362            JGoddy  1362     0.0
1363             Eriey  1363     0.0
1364         SYG bulym  1364     0.0
1365           Rhodeni  1365     0.0

[1366 rows x 3 columns]

In [34]:
ppuid = '4xZwHkxuTzAjZRicTZsRGoEyYIlB1b0wJrfc7eBJHJU05O9n3zc_hjxbzZmRKKbysio5YxMwKrB1hA'

list_match = get_matchs_by_ppuid(ppuid, 'americas')

In [36]:
ppuid_list = []

for i in range(len(list_match)):
        match_info = get_match_info_by_id('americas', list_match[i])
        if match_info["info"]["game_mode"] == "SeasonalTournamentLobby" or match_info["info"]["game_type"] == "Ranked" :
            ppuid_list = ppuid_list + match_info['metadata']['participants']

In [44]:
def f7(seq):
    seen = set()
    seen_add = seen.add
    return [x for x in seq if not (x in seen or seen_add(x))]

In [46]:
player_ppuid_list = f7(ppuid_list)

In [54]:
master_player_ppuid_list = []
high_diamond_player_ppuid_list = []
for i in player_ppuid_list:
    if df['name'].eq(get_name_and_tag_by_ppuid('americas', i)['gameName']).any() == True:
        master_player_ppuid_list.append(i)

In [60]:
master_player_ppuid_list

['4xZwHkxuTzAjZRicTZsRGoEyYIlB1b0wJrfc7eBJHJU05O9n3zc_hjxbzZmRKKbysio5YxMwKrB1hA',
 'BJw7-6VoCTJ-yHa_4xTAZQXi32lpN68uvSI0lS8aHCZkm8f_FV8N7JrFuwRyRs-H-VgG7HQq9jeoMQ',
 'J7qGF8fExQDS41dR04DdlU3-aYQyeIDAAZDKaervE9wLWm0MPd8_nBzmAup2THnyP4VYVfEXnuFG7Q',
 'mntI8_yiK4-Im2fZRuDjzPxLXP8f1Ke4XEWYm363j6dygn6pWK5p1fsyFdd2R26bQU5_8iL4W_oCsg',
 'G-pwBKC441F80Xs0LBiODUxYXJEQmDRX0lBx7N1HkBLOYigAQpD43DKgpmleG1JL58k5lU1VSzTg-w',
 'X6g4iAjziZas4U8KYwmr2uOhIjdxKn9GukXFpaiy5IsgyOhwbgwH9hKFHC3pZPD4rtyWkEN3lc1g5w',
 'TMnbGMCj3E1X4fKZGc1IJpWpsBYGxaeJ8huHjbpKG6F76vmGUbERZBe4AiF32T8fPIeiDSY9CRq-kw',
 'hk5G-HhZvlJ-wKDDGVhO90hdDlwQz1G8937mcftWuimTmXuHaAY6Ro1epkTvShRJKFDwob2PxGkaKA']

In [64]:
def writeData(filename, data):
    with open(filename, 'w') as fp:
        json.dump(data, fp,ensure_ascii=False, indent=4)

In [65]:
writeData('master_player_list_ppuids.json', master_player_ppuid_list)